<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="public/css/Style.css">
</head>
<body>
    <div class="user">
        <div class="signup_div active">
            <h2>Регистрация</h2>
            <input type="email" class="reg-login" placeholder="введите логин">
            <input type="password" class="reg-passowrd" placeholder="введите пароль">
            <input type="password" class="repeat-pas" placeholder="повторите пароль">
            <button class="send_reg">Регистрация</button>
            <button class="log">Есть аккаунт</button>
        </div>
        <div class="login_div">
            <h2>Вход</h2>
            <input type="email" class="login" placeholder="введите логин">
            <input type="password" class="passowrd" placeholder="введите пароль">
            <button class="send_log">Вход</button>
            <button class="sign">Нет аккаунта</button>
        </div>
        <div class="signup-info"></div>
    </div>
    
    <script src="public/scripts/signup.js"></script>
    <script src="public/scripts/login.js"></script>
    <script src="public/scripts/app.js"></script>
</html>